.app__left{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col{
  flex: 1 1 8%;
  padding: 0.5em 30px;
  box-sizing: border-box;
}

.header {
  flex-basis: 50%;
}

.app__image {
  flex-basis: 20%;

}

.app__text {
  flex-basis: 30%;

}

.app__left__heading{
  text-align: left;
  margin-left: 30px;
  font-size: 45px;
}

@media (max-width: 1200px){
  .header h1{
  display: none;
}
}

.image__one{
  height: 80vh;
 }

@media all and (max-width: 1200px) {
  .app__text,.app__image, .header, .col{
    flex-basis: 100%;
  }
  .image__one{
      height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .app__left{
  margin-top: 2rem;
  }
  .app__text > p{
    display: none;
  }
  .app__text > h4{
    display: none;
  }
  .invisible{
    display: none;
  }

}

.app__text > h1{
font-size: 30px;
color: #333333;
}

.app__text > p{
  padding-top: 20px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
}

.app__text > h4{
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
}

.app__text > h5{
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 17px;
  color: black;
  line-height: 26px;
  letter-spacing: 1px;
}
