.image__one{
  height: 80vh;
 }

@media screen and (max-width: 1200px) {
  .app__image{
  display: grid;
  grid-template-rows: 100%;
  width: 100%;
}
.app__text{
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
}
.app__body__right{
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%;
 }
}

.app__text{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 30px;
    min-width: 50%;
}

.app__body__right{
  display: grid;
  grid-template-columns: 30% 70%;
}

.app__text > h1{
font-size: 30px;
}

.app__text > p{
  padding-top: 20px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 600;
}

.app__text > h4{
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
}