*{
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.app{
  display: grid;
}
  html,
  body{
    width:100%;
    overflow-x:hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #fffef2;
  }

.app__searchbar{
 background-color: #252525;
 color: white; 
 text-align: center;
 padding: 18px;
 width: 100%;
}

.searchbar__title:hover{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 2px;

    cursor: pointer;
}

.app__navbar{
  display: grid;
  grid-template-columns: 90% 10%;
  margin-top: 30px;
  padding: 5px;
}

.app__navbar__ul{
  width: 100%;
}

.app__navbar__ul > li{
  text-decoration: none;
  display: inline-flex;
  color: #333333;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
  display: grid;
  padding: 15px 10px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

@media(max-width: 1200px) {
  .app__navbar{
  display: flex;
  width: 100%;
  grid-template-columns:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

}
.long__button{
  width: 100%;
  padding: 21px 23px;
  margin-top: 10px;
  background-color:#333333;
  color: #fffef2;
  font-size: 16px;
  border: none;
}

.long__button:hover{
  background-color: black;
  transition: 1s;
  cursor: pointer;
}














